# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-15]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Set up Swift (only on Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        uses: k-arindam/setup-swift@v5
        with:
          swift-version: "6.0"

      - uses: actions/checkout@v4

      - run: swift --version
      - run: swift package resolve
      - run: swift build
      - run: swift test

